.container {
  max-width: 450px;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
}

.login_box {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login_box h2 {
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
}

.signup_text {
  margin-top: 40px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.signup_text a {
  color: #33adff;
  text-decoration: none;
  font-weight: 500;
}

.signup_text a:hover {
  text-decoration: underline;
}
